# Data Wrangling

Now that I've got the data I need, I'll have to clean it up.

It looks like there will be two parts to the data cleaning process:

1. Text Cleansing
2. Text Preparation

## Text Cleansing
This will be general cleaning of the text to:
* remove special characters, hyperlinks and mentions to other users
* convert all text to lowercase
* removing stop words
* replacing abbreviations
* spelling correction

Here are some resources I can use to help with this part of the process:
* [Data Cleaning](https://towardsdatascience.com/another-twitter-sentiment-analysis-with-python-part-2-333514854913)

## Text Preparation
This will prepare the text for analysis by:
* stemming
* lemmatization
* POS tagging

Here are some resources I can use to help with this part of the process:

* [Basic Data Engineering](https://medium.com/@SeoJaeDuk/basic-data-cleaning-engineering-session-twitter-sentiment-data-b9376a91109b)

Other useful resources:

* https://codereview.stackexchange.com/questions/163446/cleaning-and-extracting-meaningful-text-from-tweets
* https://www.kdnuggets.com/2017/11/framework-approaching-textual-data-tasks.html
* https://www.kdnuggets.com/2017/12/general-approach-preprocessing-text-data.html
* https://www.kdnuggets.com/2018/03/text-data-preprocessing-walkthrough-python.html

In [1]:
import json
import sys
sys.path.append("data/")

In [2]:
file = "C:/Users/jzpow/Code/Projects/Naomi-Osaka/data/Naomi_Eng.csv"

In [3]:
import pandas as pd

In [4]:
pd.read_csv(file)

,id,tweet_id,tweet_date,tweet_text,tweet_loc
0,1,1038577721113161728,Sat Sep 08 19:59:59 +0000 2018,Naomi Osaka upsets Serena Williams in controve...,NaN
1,2,1038577715278954496,Sat Sep 08 19:59:57 +0000 2018,"@ Naomi_Osaka_ , you go girl! I got your back!...",NaN
2,3,1038577714662461445,Sat Sep 08 19:59:57 +0000 2018,NaN,NaN
3,4,1038577711881613317,Sat Sep 08 19:59:57 +0000 2018,Ofusca a imagem da Serena apenas. Ela se perde...,NaN
4,5,1038577711566872577,Sat Sep 08 19:59:56 +0000 2018,大阪ハンパないって！！！ そんなんできひんやん普通！！！,NaN
5,6,1038577708962332680,Sat Sep 08 19:59:56 +0000 2018,@ Naomi_Osaka_ probably felt like she was at h...,NaN
6,7,1038577706953318405,Sat Sep 08 19:59:55 +0000 2018,"Congrats girly, don’t let anyone take this mom...",NaN
7,8,1038577706257055744,Sat Sep 08 19:59:55 +0000 2018,Naomi Osaka defeats Serena Williams in a drama...,NaN
8,9,1038577705774669825,Sat Sep 08 19:59:55 +0000 2018,https://twitter.com/juventino5555/status/10377...,NaN
9,10,1038577701676875776,Sat Sep 08 19:59:54 +0000 2018,Carlos Ramos also robbed Osaka. Imagine how mu...,NaN
10,11,1038577694810599424,Sat Sep 08 19:59:52 +0000 2018,Yes Bravo to @ BigSascha Bajin And of course l...,NaN
11,12,1038577686568792064,Sat Sep 08 19:59:50 +0000 2018,Tennis officials.. where coaches are seen coac...,NaN
12,13,1038577684790407168,Sat Sep 08 19:59:50 +0000 2018,Naomi Osaka tops Serena Williams in U.S. Open ...,NaN
13,14,1038577680134938626,Sat Sep 08 19:59:49 +0000 2018,Booing damn Naomi Osaka won the girl was cooki...,NaN
14,15,1038577679149264896,Sat Sep 08 19:59:49 +0000 2018,Why can't you question a cheating official?,NaN
15,16,1038577677874196481,Sat Sep 08 19:59:48 +0000 2018,You should take the with you @ Naomi_Osaka_ Co...,NaN
16,17,1038577676196372481,Sat Sep 08 19:59:48 +0000 2018,@ Naomi_Osaka_ Congratulaions. . . who were te...,NaN
17,18,1038577674346786816,Sat Sep 08 19:59:48 +0000 2018,Se non ricordo male Dimitrov fu squalificato p...,NaN
18,19,1038577674195791872,Sat Sep 08 19:59:48 +0000 2018,The proof that something can be done is when y...,NaN
19,20,1038577673524498432,Sat Sep 08 19:59:47 +0000 2018,"Her ambition, she once told a reporter, was “t...",NaN
20,21,1038577672916529153,Sat Sep 08 19:59:47 +0000 2018,[FULL] 2018 US Open trophy ceremony with Seren...,NaN
21,22,1038577672241262594,Sat Sep 08 19:59:47 +0000 2018,What's happening? Part 1. Naomi Osaka vs Seren...,NaN
22,23,1038577665391742976,Sat Sep 08 19:59:45 +0000 2018,@ Naomi_Osaka_ Congratulations You are proud o...,NaN
23,24,1038577661239603203,Sat Sep 08 19:59:44 +0000 2018,You're not a true fan of @ serenawilliams sere...,NaN
24,25,1038577659356299266,Sat Sep 08 19:59:44 +0000 2018,I honestly think Serena knew she was going to ...,NaN
25,26,1038577653668704257,Sat Sep 08 19:59:43 +0000 2018,Worst crowd. That makes japanese sad.,NaN
26,27,1038577653094252544,Sat Sep 08 19:59:42 +0000 2018,Congratulations @ Naomi_Osaka_ # 3StripeLifeht...,NaN
27,28,1038577651726917632,Sat Sep 08 19:59:42 +0000 2018,Parabéns Naomi vc mereceu seu primeiro USOPEN ...,NaN
28,29,1038577650636390400,Sat Sep 08 19:59:42 +0000 2018,Fuck you. Naomi Osaka is diverse as well; Hait...,NaN
29,30,1038577649847820288,Sat Sep 08 19:59:42 +0000 2018,Naomi # Osaka: 1) Le amargó la fiesta a # Sere...,NaN
...,...,...,...,...,...
14970,14971,1038553818689101825,Sat Sep 08 18:25:00 +0000 2018,Congratulations Naomi Osaka on the # UsOPen wi...,NaN
14971,14972,1038553818512977920,Sat Sep 08 18:25:00 +0000 2018,¡Sorpresa en Nueva York! La japonesa @ Naomi_O...,NaN
14972,14973,1038553818143879169,Sat Sep 08 18:25:00 +0000 2018,Naomi Osaka’s acceptance speech is still reall...,NaN
14973,14974,1038553817317433344,Sat Sep 08 18:25:00 +0000 2018,Serena Williams bested by Naomi Osaka in US Op...,NaN
14974,14975,1038553817065893888,Sat Sep 08 18:25:00 +0000 2018,"You’re right, she will be forgotten but the of...",NaN
14975,14976,1038553816403206145,Sat Sep 08 18:24:59 +0000 2018,unreal mentality from naomi osaka. to come thr...,NaN
14976,14977,1038553814888894464,Sat Sep 08 18:24:59 +0000 2018,@ Naomi_Osaka_ Congratulations!,NaN
14977,14978,1038553814746456064,Sat Sep 08 18:24:59 +0000 2018,Marion oh grosse cochone suceuse de queu,NaN
14978,14979,1038553813848940550,Sat Sep 08 18:24:59 +0000 2018,Umpire Carlos Ramos robbed # ThisMama @ serena...,NaN
14979,14980,1038553813467258886,Sat Sep 08 18:24:59 +0000 2018,Congrats to @ Naomi_Osaka_ though!! You’re ama...,NaN
14980,14981,1038553812515147777,Sat Sep 08 18:24:58 +0000 2018,Tu est con ! Tu pense que ce imbecile aurait m...,NaN
14981,14982,1038553811969875968,Sat Sep 08 18:24:58 +0000 2018,Best @ usopen women's final ever!! # NYValues ...,NaN
14982,14983,1038553811793661952,Sat Sep 08 18:24:58 +0000 2018,carlos ramos ruined the finals for both Naomi ...,NaN
14983,14984,1038553811319746562,Sat Sep 08 18:24:58 +0000 2018,I really like you Rennae but you are wrong here,NaN
14984,14985,1038553811223072768,Sat Sep 08 18:24:58 +0000 2018,20 yaşında Grand Slam şampiyonluğu yaşayan Nao...,NaN
14985,14986,1038553811026108417,Sat Sep 08 18:24:58 +0000 2018,Decirle al juez del compromiso que es un “ladr...,NaN
14986,14987,1038553810426155008,Sat Sep 08 18:24:58 +0000 2018,Congratulations @ Naomi_Osaka_ . You deserve i...,NaN
14987,14988,1038553810296348672,Sat Sep 08 18:24:58 +0000 2018,@ serenawilliams gran Slam Queen,NaN
14988,14989,1038553810128449536,Sat Sep 08 18:24:58 +0000 2018,An emotional streamhttps://www.twitch.tv/kingt...,NaN
14989,14990,1038553809331675137,Sat Sep 08 18:24:58 +0000 2018,Power.,NaN
14990,14991,1038553808845123584,Sat Sep 08 18:24:58 +0000 2018,Congratulations @ Naomi_Osaka_ Grace & courage...,NaN
14991,14992,1038553808270446592,Sat Sep 08 18:24:57 +0000 2018,Naomi Osaka won this fair and square. She domi...,NaN
14992,14993,1038553807578378241,Sat Sep 08 18:24:57 +0000 2018,Serena Williams takes on Naomi Osaka in the US...,NaN
14993,14994,1038553807427387393,Sat Sep 08 18:24:57 +0000 2018,"@ Naomi_Osaka_ you did it ""I just really want ...",NaN
14994,14995,1038553807007797248,Sat Sep 08 18:24:57 +0000 2018,"@ Naomi_Osaka_ ""I play tennis"" better than any...",NaN
14995,14996,1038553806118707200,Sat Sep 08 18:24:57 +0000 2018,Class acts don't smash rackets then verbally a...,NaN
14996,14997,1038553806085050368,Sat Sep 08 18:24:57 +0000 2018,なおみちゃん、全米オープン優勝おめでとう嬉しくて…涙が出ちゃったよ。,NaN
14997,14998,1038553805959389184,Sat Sep 08 18:24:57 +0000 2018,¡Nace una Estrella! Naomi Osaka venció a Seren...,NaN
14998,14999,1038553804801761281,Sat Sep 08 18:24:57 +0000 2018,"It was obvious that Williams loss, at least th...",NaN
14999,15000,1038553804298436615,Sat Sep 08 18:24:56 +0000 2018,Once again the racist media is trying to deny ...,NaN

In [5]:
df = pd.DataFrame(pd.read_csv(file))

In [6]:
df.head()

,id,tweet_id,tweet_date,tweet_text,tweet_loc
0,1,1038577721113161728,Sat Sep 08 19:59:59 +0000 2018,Naomi Osaka upsets Serena Williams in controve...,NaN
1,2,1038577715278954496,Sat Sep 08 19:59:57 +0000 2018,"@ Naomi_Osaka_ , you go girl! I got your back!...",NaN
2,3,1038577714662461445,Sat Sep 08 19:59:57 +0000 2018,NaN,NaN
3,4,1038577711881613317,Sat Sep 08 19:59:57 +0000 2018,Ofusca a imagem da Serena apenas. Ela se perde...,NaN
4,5,1038577711566872577,Sat Sep 08 19:59:56 +0000 2018,大阪ハンパないって！！！ そんなんできひんやん普通！！！,NaN

In [7]:
df.tail()

,id,tweet_id,tweet_date,tweet_text,tweet_loc
14995,14996,1038553806118707200,Sat Sep 08 18:24:57 +0000 2018,Class acts don't smash rackets then verbally a...,NaN
14996,14997,1038553806085050368,Sat Sep 08 18:24:57 +0000 2018,なおみちゃん、全米オープン優勝おめでとう嬉しくて…涙が出ちゃったよ。,NaN
14997,14998,1038553805959389184,Sat Sep 08 18:24:57 +0000 2018,¡Nace una Estrella! Naomi Osaka venció a Seren...,NaN
14998,14999,1038553804801761281,Sat Sep 08 18:24:57 +0000 2018,"It was obvious that Williams loss, at least th...",NaN
14999,15000,1038553804298436615,Sat Sep 08 18:24:56 +0000 2018,Once again the racist media is trying to deny ...,NaN

In [8]:
df.index

RangeIndex(start=0, stop=15000, step=1)

In [9]:
df.columns

Index(['id', 'tweet_id', 'tweet_date', 'tweet_text', 'tweet_loc'], dtype='object')

In [10]:
df.values

array([[1, 1038577721113161728, 'Sat Sep 08 19:59:59 +0000 2018',
        'Naomi Osaka upsets Serena Williams in controversial US Open final - CNN # SmartNewshttps://edition.cnn.com/2018/09/08/sport/naomi-osaka-serena-williams-us-open-tennis-int-spt/index.html …',
        nan],
       [2, 1038577715278954496, 'Sat Sep 08 19:59:57 +0000 2018',
        '@ Naomi_Osaka_ , you go girl! I got your back! Congrats on the US open!',
        nan],
       [3, 1038577714662461445, 'Sat Sep 08 19:59:57 +0000 2018', nan,
        nan],
       ...,
       [14998, 1038553805959389184, 'Sat Sep 08 18:24:57 +0000 2018',
        '¡Nace una Estrella! Naomi Osaka venció a Serena Williams por 6-2 y 6-4 en la final del # USOpen y se convirtió en la primera japonesa en ganar un Gran Slam y en la campeona más joven del torneo desde Maria Sharapova (19 años) que se quedó con el trofeo en el 2006.pic.twitter.com/O1pnar1BC6',
        nan],
       [14999, 1038553804801761281, 'Sat Sep 08 18:24:57 +0000 2018',
        'It was obvious that Williams loss, at least the way she lost is the equivalent to Tyson biting the ear of Holyfield. Williams was losing to a better player (on this day) and was looking for a way out! Congrats though to Naomi Osaka and Japan!',
        nan],
       [15000, 1038553804298436615, 'Sat Sep 08 18:24:56 +0000 2018',
        'Once again the racist media is trying to deny Naomi Osaka’s Haitian heritage by not showing his father during her victory speech like he hasn’t done anything for her to succeed. Enough with the anti-black men, anti-black father and Anti-Haiti stance!!! # USopen',
        nan]], dtype=object)

In [11]:
df.describe()

                 id      tweet_id  tweet_loc
count  15000.000000  1.500000e+04        0.0
mean    7500.500000  1.038563e+18        NaN
std     4330.271354  6.931693e+12        NaN
min        1.000000  1.038554e+18        NaN
25%     3750.750000  1.038557e+18        NaN
50%     7500.500000  1.038562e+18        NaN
75%    11250.250000  1.038569e+18        NaN
max    15000.000000  1.038578e+18        NaN

## Step #0: Remove Unnecessary Columns

Ok, so just by doing this I can see that there was not a single variable stored in the location category. So as much as I would've liked to do the geographical analysis. I'm not sure it will be possible. Also, I believe each tweet gets a new tweet ID, even if it's a retweet, so I don't think I'll be needing this column after all. I should drop these columns from the data.

In [13]:
df = df.drop(columns=["tweet_loc", "tweet_id"])

KeyError: "['tweet_loc' 'tweet_id'] not found in axis"

## Step #1: Drop Duplicates and NaNs

I'll be dropping duplicates on `tweet_text` instead (that is, if it's the same exact tweet more than once, I don't want to see it).

In [14]:
df = df.drop_duplicates("tweet_text")

In [15]:
df.shape

(14398, 3)

In [16]:
df = df.dropna()

In [17]:
df.shape

(14397, 3)

Looks like there was only one tweet with no text in it, but we've successfully removed it from the data.

## Step #2: Remove Non-English Words

This is going to be a bit tricky, but I want to try it as best I can. According to the Internet, there are Python modules that check if a word is in English or not. I'll see if I can use this to drop all non-English tweets from the dataframe.

In [18]:
from langdetect import detect

In [19]:
eng_str = "This is an English string."
jp_str = "日本語のキーボード"

In [20]:
detect(eng_str)

'en'

In [21]:
detect(jp_str)

'ja'

In [22]:
def is_eng(s):
    lang = detect(s)
    return lang == 'en'

In [23]:
df["tweet_text"].values

array(['Naomi Osaka upsets Serena Williams in controversial US Open final - CNN # SmartNewshttps://edition.cnn.com/2018/09/08/sport/naomi-osaka-serena-williams-us-open-tennis-int-spt/index.html …',
       '@ Naomi_Osaka_ , you go girl! I got your back! Congrats on the US open!',
       'Ofusca a imagem da Serena apenas. Ela se perdeu e deu um vexame. A japonesa Naomi Osaka deu um passeio na quadra.',
       ...,
       '¡Nace una Estrella! Naomi Osaka venció a Serena Williams por 6-2 y 6-4 en la final del # USOpen y se convirtió en la primera japonesa en ganar un Gran Slam y en la campeona más joven del torneo desde Maria Sharapova (19 años) que se quedó con el trofeo en el 2006.pic.twitter.com/O1pnar1BC6',
       'It was obvious that Williams loss, at least the way she lost is the equivalent to Tyson biting the ear of Holyfield. Williams was losing to a better player (on this day) and was looking for a way out! Congrats though to Naomi Osaka and Japan!',
       'Once again the racist media is trying to deny Naomi Osaka’s Haitian heritage by not showing his father during her victory speech like he hasn’t done anything for her to succeed. Enough with the anti-black men, anti-black father and Anti-Haiti stance!!! # USopen'],
      dtype=object)

In [24]:
def my_detect(n):
  return lambda n : detect(n)

In [25]:
lang_detector = my_detect(is_eng)

lang_detector(eng_str)

'en'

In [26]:
lang_detector(jp_str)

'ja'

In [27]:
type(df["tweet_text"])

pandas.core.series.Series

In [28]:
# figured out how to lowercase all strings
df['tweet_text'] = df['tweet_text'].str.lower()

In [29]:
df.head()

,id,tweet_date,tweet_text
0,1,Sat Sep 08 19:59:59 +0000 2018,naomi osaka upsets serena williams in controve...
1,2,Sat Sep 08 19:59:57 +0000 2018,"@ naomi_osaka_ , you go girl! i got your back!..."
3,4,Sat Sep 08 19:59:57 +0000 2018,ofusca a imagem da serena apenas. ela se perde...
4,5,Sat Sep 08 19:59:56 +0000 2018,大阪ハンパないって！！！ そんなんできひんやん普通！！！
5,6,Sat Sep 08 19:59:56 +0000 2018,@ naomi_osaka_ probably felt like she was at h...

In [30]:
df['tweet_text'].str.lang_detector

AttributeError: 'StringMethods' object has no attribute 'lang_detector'

In [30]:
qz = pd.DataFrame({'A': ['a', 'b', 'b', 'c', 'c'], 
                   'B': ['a', 'a', 'b', 'c', 'c'], 
                   'C': ['a', 'a', 'b', 'b', 'c']})

In [31]:
qz

   A  B  C
0  a  a  a
1  b  a  a
2  b  b  b
3  c  c  b
4  c  c  c

In [32]:
for col in qz:
    vc = qz[col].value_counts()
    vals_to_remove = vc[vc <= 1].index.values
    qz[col].loc[qz[col].isin(vals_to_remove)] = None

In [33]:
qz

      A     B     C
0  None     a     a
1     b     a     a
2     b  None     b
3     c     c     b
4     c     c  None

In [43]:
type(df["tweet_text"].values)

numpy.ndarray

In [31]:
test = df[:10]
test

,id,tweet_date,tweet_text
0,1,Sat Sep 08 19:59:59 +0000 2018,naomi osaka upsets serena williams in controve...
1,2,Sat Sep 08 19:59:57 +0000 2018,"@ naomi_osaka_ , you go girl! i got your back!..."
3,4,Sat Sep 08 19:59:57 +0000 2018,ofusca a imagem da serena apenas. ela se perde...
4,5,Sat Sep 08 19:59:56 +0000 2018,大阪ハンパないって！！！ そんなんできひんやん普通！！！
5,6,Sat Sep 08 19:59:56 +0000 2018,@ naomi_osaka_ probably felt like she was at h...
6,7,Sat Sep 08 19:59:55 +0000 2018,"congrats girly, don’t let anyone take this mom..."
7,8,Sat Sep 08 19:59:55 +0000 2018,naomi osaka defeats serena williams in a drama...
8,9,Sat Sep 08 19:59:55 +0000 2018,https://twitter.com/juventino5555/status/10377...
9,10,Sat Sep 08 19:59:54 +0000 2018,carlos ramos also robbed osaka. imagine how mu...
10,11,Sat Sep 08 19:59:52 +0000 2018,yes bravo to @ bigsascha bajin and of course l...

In [38]:
for col in test:
    vc = test[col].value_counts()
    vals_to_ignore = 'en'
#     vals_to_remove = vc[vc <= 1].index.values
#     qz[col].loc[qz[col].isin(vals_to_remove)] = None
    print(vc)

11    1
10    1
9     1
8     1
7     1
6     1
5     1
4     1
2     1
1     1
Name: id, dtype: int64
Sat Sep 08 19:59:55 +0000 2018    3
Sat Sep 08 19:59:57 +0000 2018    2
Sat Sep 08 19:59:56 +0000 2018    2
Sat Sep 08 19:59:59 +0000 2018    1
Sat Sep 08 19:59:54 +0000 2018    1
Sat Sep 08 19:59:52 +0000 2018    1
Name: tweet_date, dtype: int64
大阪ハンパないって！！！ そんなんできひんやん普通！！！                                                                                                                                                                   1
carlos ramos also robbed osaka. imagine how much better she would feel if she broke serena to go up 5-3 instead of being giving the game.                                                      1
naomi osaka upsets serena williams in controversial us open final - cnn # smartnewshttps://edition.cnn.com/2018/09/08/sport/naomi-osaka-serena-williams-us-open-tennis-int-spt/index.html …    1
yes bravo to @ bigsascha bajin and of course love as always (since she turned pro!) to @ naomi_osaka_ https://twitter.com/bgtennisnation/status/1038563742961881090 …                          1
ofusca a imagem da serena apenas. ela se perdeu e deu um vexame. a japonesa naomi osaka deu um passeio na quadra.                                                                              1
https://twitter.com/juventino5555/status/1037768949109276672?s=19 …                                                                                                                            1
@ naomi_osaka_ probably felt like she was at her friend’s house when their mom started yelling at them # usopen                                                                                1
congrats girly, don’t let anyone take this moment from you..you outplayed everyone, even the goat serena @ naomi_osaka_                                                                        1
naomi osaka defeats serena williams in a dramatic us open final https://twitter.com/i/events/1038540032330493952 …                                                                             1
@ naomi_osaka_ , you go girl! i got your back! congrats on the us open!                                                                                                                        1
Name: tweet_text, dtype: int64

In [47]:
test["tweet_text"]

0     naomi osaka upsets serena williams in controve...
1     @ naomi_osaka_ , you go girl! i got your back!...
3     ofusca a imagem da serena apenas. ela se perde...
4                          大阪ハンパないって！！！ そんなんできひんやん普通！！！
5     @ naomi_osaka_ probably felt like she was at h...
6     congrats girly, don’t let anyone take this mom...
7     naomi osaka defeats serena williams in a drama...
8     https://twitter.com/juventino5555/status/10377...
9     carlos ramos also robbed osaka. imagine how mu...
10    yes bravo to @ bigsascha bajin and of course l...
Name: tweet_text, dtype: object

In [44]:
test.loc[test['tweet_text'].apply(lambda x: len(x) <= 100)]

,id,tweet_date,tweet_text
1,2,Sat Sep 08 19:59:57 +0000 2018,"@ naomi_osaka_ , you go girl! i got your back!..."
4,5,Sat Sep 08 19:59:56 +0000 2018,大阪ハンパないって！！！ そんなんできひんやん普通！！！
8,9,Sat Sep 08 19:59:55 +0000 2018,https://twitter.com/juventino5555/status/10377...

In [68]:
japanese_letters = "[ぁあぃいぅうぇえぉおかがきぎくぐけげこごさざしじすずせぜそぞただちぢっつづてでとどなにぬねのはばぱひびぴふぶぷへべぺほぼぽまみむめもゃやゅゆょよらりるれろゎわゐゑをんゔゕゖ゗゘゙゚゛゜ゝゞゟァアィイゥウェエォオカガキギクグケゲコゴサザシジスズセゼソゾタダチヂッツヅテデトドナニヌネノハバパヒビピフブプヘベペホボポマミムメモャヤュユョヨラリルレロヮワヰヱヲンヴヵヶヷヸヹヺ・ーヽヾヿ一丁丂七丄丅丆万丈三上下丌不与丏丐丑丒专且丕世丗丘丙业丛东丝丞丟丠両丢丣两严並丧丨丩个丫丬中丮丯丰丱串丳临丵丶丷丸丹为主丼丽举丿乀乁乂乃乄久乆乇么义乊之乌乍乎乏乐乑乒乓乔乕乖乗乘乙乚乛乜九乞也习乡乢乣乤乥书乧乨乩乪乫乬乭乮乯买乱乲乳乴乵乶乷乸乹乺乻乼乽乾乿亀亁亂亃亄亅了亇予争亊事二亍于亏亐云互亓五井亖亗亘亙亚些亜亝亞亟亠亡亢亣交亥亦产亨亩亪享京亭亮亯亰亱亲亳亴亵亶亷亸亹人亻亼亽亾亿什仁仂仃仄仅仆仇仈仉今介仌仍从仏仐仑仒仓仔仕他仗付仙仚仛仜仝仞仟仠仡仢代令以仦仧仨仩仪仫们仭仮仯仰仱仲仳仴仵件价仸仹仺任仼份仾仿]+"

In [69]:
test

,id,tweet_date,tweet_text
0,1,Sat Sep 08 19:59:59 +0000 2018,naomi osaka upsets serena williams in controve...
1,2,Sat Sep 08 19:59:57 +0000 2018,"@ naomi_osaka_ , you go girl! i got your back!..."
3,4,Sat Sep 08 19:59:57 +0000 2018,ofusca a imagem da serena apenas. ela se perde...
4,5,Sat Sep 08 19:59:56 +0000 2018,大阪ハンパないって！！！ そんなんできひんやん普通！！！
5,6,Sat Sep 08 19:59:56 +0000 2018,@ naomi_osaka_ probably felt like she was at h...
6,7,Sat Sep 08 19:59:55 +0000 2018,"congrats girly, don’t let anyone take this mom..."
7,8,Sat Sep 08 19:59:55 +0000 2018,naomi osaka defeats serena williams in a drama...
8,9,Sat Sep 08 19:59:55 +0000 2018,https://twitter.com/juventino5555/status/10377...
9,10,Sat Sep 08 19:59:54 +0000 2018,carlos ramos also robbed osaka. imagine how mu...
10,11,Sat Sep 08 19:59:52 +0000 2018,yes bravo to @ bigsascha bajin and of course l...

In [70]:
import re
japanese="こんにちは"
re.search(japanese_letters, japanese)

In [71]:
for p in test["tweet_text"]:
    print(re.search(japanese_letters, p))

None
None
None
<_sre.SRE_Match object; span=(2, 9), match='ハンパないって'>
None
None
None
None
None
None

In [74]:
test.loc[test['tweet_text'].apply(lambda x: re.search(japanese_letters, x) == None)]

,id,tweet_date,tweet_text
0,1,Sat Sep 08 19:59:59 +0000 2018,naomi osaka upsets serena williams in controve...
1,2,Sat Sep 08 19:59:57 +0000 2018,"@ naomi_osaka_ , you go girl! i got your back!..."
3,4,Sat Sep 08 19:59:57 +0000 2018,ofusca a imagem da serena apenas. ela se perde...
5,6,Sat Sep 08 19:59:56 +0000 2018,@ naomi_osaka_ probably felt like she was at h...
6,7,Sat Sep 08 19:59:55 +0000 2018,"congrats girly, don’t let anyone take this mom..."
7,8,Sat Sep 08 19:59:55 +0000 2018,naomi osaka defeats serena williams in a drama...
8,9,Sat Sep 08 19:59:55 +0000 2018,https://twitter.com/juventino5555/status/10377...
9,10,Sat Sep 08 19:59:54 +0000 2018,carlos ramos also robbed osaka. imagine how mu...
10,11,Sat Sep 08 19:59:52 +0000 2018,yes bravo to @ bigsascha bajin and of course l...

Yes!!! I got it to work!

Okay, so instead of trying to use a fancy Python module that wasn't doing what I needed it to, I decided to go back to the basics. Put a bunch of Japanese characters in a string, and call regex to cull out the tweets that had Japanese characters in them. Now, that's not going to get rid of all the tweets of course, but I think I can use it to at least rule out some other languages (like Portuguese) that have some strange diacritics in them.